/* CSS declarations go here */
body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


.home-header {
    height: 300px;
    background: url('img/sticky_notes.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-text-container {
    width: 80%;
    height: 50%;
    margin-top: 5em;
    margin-bottom: auto;

    background-color: #ffffff;
    opacity: 0.6;
    
}

.header-text-container h1 {
    font-size: 72px;
    font-weight: bold;
    color: #000000;
}

.form-page {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.user-action-select {
    width: 60%;
    margin: 2em auto;
    text-align: center;
}

.user-action-select .btn {

}

.btn-select-action {
    margin: 1em;
}


.idea-container {
    margin: 2em;
    padding: 1em;
    border: solid 2px;
}



/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    color: #fff;
}