/* CSS declarations go here */
body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.business-header {
    height: 300px;
    background: url('http://placehold.it/1920x400') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.user-action-select {
    width: 60%;
    margin: 2em auto;
    text-align: center;
}

.user-action-select .btn {

}

.btn-select-action {
    margin: 1em;
}


.idea-container {
    margin: 2em;
    padding: 1em;
    border: solid 2px;
}



/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    color: #fff;
}