/* CSS declarations go here */
body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


.navbar-fixed-top {
    font-weight: 700;
}

/* Home page */

.home-header {
    height: 500px;
    background: url('img/sticky_notes.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.home-header img {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.user-action-select {
    width: 80%;
    margin: 2em auto;
    text-align: center;
}

.user-action-select-btn {
    background-color: #C33636;
    border: none;
    color: #fff;
    width: 15em;
}

.user-action-select-btn h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-select-action {
    margin: 1em;
}

.ideas-and-problems {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}


.idea-problem-container {
    margin: 2em 0;
    padding: 1em;
    border: solid 1px;
    border-color: #ddd;
}



.form-page {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

