<template name="CreateProblem">
  <div class="form-page">
    
    <h1>Cadastre seu problema</h1>

    {{> createProblemForm}}
  </div>
</template>

<template name="createProblemForm">
  {{#autoForm collection="Problems" id="createProblemForm" type="insert"}}
    <fieldset>
      {{> afQuickField name="problem_name"}}
      {{> afQuickField name="industry" options="allowed"}}
      {{> afQuickField name="problem_description" rows=5}}

    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
</template>