<!-- 
Retrieve more user information on registration here
Use autoform to generate form from schema
Use Meteor method to add new fields to user in Meteor Users collection
 
http://stackoverflow.com/questions/28685163/meteor-autoform-how-to-update-select-options-based-on-another-control
 -->

<template name="UserInfo">
  
  {{> updateUserInfoForm}}
</template>


<template name="updateUserInfoForm">
  {{#autoForm collection="UserInfo" id="updateUserInfoForm" type="method" meteormethod="updateUserInfo"}}
    <fieldset>
      <legend>More information</legend>
      {{> afQuickField name='first_name'}}
      {{> afQuickField name='last_name'}}
      {{> afQuickField name='sex' options="allowed" id="selectedSex"}}
      {{> afQuickField name='dob'}}
      {{> afQuickField name='ethnic_group' options="allowed" id="selectedEthnicGroup"}}
      {{> afQuickField name='province' options="allowed" id="selectedProvince"}}
      {{> afQuickField name='commune' options=communeOptions id="selectedProvince"}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
</template>