<!-- 
Retrieve more user information on registration here
 -->

<template name="UserInfo">
  
  {{> updateUserInfoForm}}
</template>


<template name="updateUserInfoForm">
  {{#autoForm collection="UserInfo" id="updateUserInfoForm" type="method" meteormethod="updateUserInfo"}}
    <fieldset>
      {{> afQuickField name='first_name'}}
      {{> afQuickField name='last_name'}}
      {{> afQuickField name='sex' options="allowed" type="select-radio" id="selectedSex"}}
      {{> afQuickField name='dob'}}
      {{> afQuickField name='ethnic_group' options="allowed" id="selectedEthnicGroup"}}
      {{> afQuickField name='province' options="allowed" id="selectedProvince"}}
      {{> afQuickField name='commune' options=communeOptions id="selectedProvince"}}
      {{> afQuickField name='current_occupation' options="allowed" id="selectedProvince"}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
</template>